.add-booking form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-booking form input{
    width: 60%;
    margin-bottom: 10px;
}
.add-booking form  textarea{
    width: 60%;
    margin-bottom: 10px;
}